<form class="config-max-width">
    @Html.Partial("~/Views/Shared/ProductNameSelect.cshtml")

    <label for="code">Mã sản phẩm(bắt đầu bằng 89):</label><br>
    <input class="config-max-width margin-vertical" type="text" id="code" value="">
    <br>
    <br>

    <label for="barcode">Mã vạch(ISBN,không chứa ký tự đặc biệt -,/,..):</label><br>
    <input class="config-max-width margin-vertical" type="text" id="barcode" value="">
    <br>
    <br>

    @Html.Partial("~/Views/Shared/ProductInputCommon.cshtml")

    @Html.Partial("~/Views/Shared/ParentIdSelect.cshtml")

    <label for="detail">Thông tin chi tiết thêm:</label><br>
    <textarea id="detail" rows="10" style="width:100%" value=""></textarea>
    <br>
    <br>

    @Html.Partial("~/Views/Shared/VideoSelect.cshtml")

    @Html.Partial("~/Views/Shared/ImageSelect.cshtml")
</form>
