<div>
    <div id="adjxn90snkx">
        <div>
            <label for="combo-id">Combo:</label>
            <input type="text" list="list-combo" class="config-max-width margin-vertical" id="combo-id">

            <datalist id="list-combo"></datalist>
        </div>
        <div style="float: right; display:flex;">
            <button type="button" title="Đi đến trang thông tin combo của sản phẩm"
                    onclick="ComboOfProductPage()" class="diplay-none-when-create"
                    style="display:none; margin-right:20px;">
                Combo Của Sản Phẩm
            </button>

            <button type="submit" id="button-go-page-combo-id" formaction="/Combo/Create" formtarget="_self">
                Thêm Mới Combo
            </button>

            <button type="button" onclick="UpdateComboId()" class="diplay-none-when-create"
                    style="display:none; margin-left:20px;">
                Cập nhật
            </button>
        </div>
        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <div>
        <div>
            <label for="category-id">Thể loại:</label>
            <input type="text" list="list-category" class="config-max-width margin-vertical" id="category-id">

            <datalist id="list-category"></datalist>
        </div>

        <div style="float: right; display:flex;">
            <button type="submit" formaction="/Category/Create" formtarget="_self"
                    style="float: right;">
                Thêm Mới Thể Loại
            </button>

            <button type="button" onclick="UpdateCategoryId()" class="diplay-none-when-create"
                    style="display:none; margin-left:20px;">
                Cập nhật
            </button>
        </div>
        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <label for="book-cover-price">Giá bìa:</label><br>
    <input class="config-max-width margin-vertical" type="number" id="book-cover-price" value=""
           oninput="ValidatePositiveIntegerNumber(this)">
    <button type="button" onclick="UpdateBookCoverPrice()" class="diplay-none-when-create" style="float: right; display:none">Cập nhật</button>
    @Html.Partial("~/Views/Shared/RowsDistance.cshtml")

    <label for="hard-cover">Bìa:</label><br>
    <select class="config-max-width margin-vertical" id="hard-cover">
        <option value="0">Bìa mềm</option>
        <option value="1">Bìa cứng</option>
    </select>
    @Html.Partial("~/Views/Shared/RowsDistance.cshtml")

    <div>
        <label for="author-id">Tác giả:</label>
        <input type="text" list="list-author" class="config-max-width margin-vertical" id="author-id">

        <datalist id="list-author"></datalist>
        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <div>
        <label for="translator-id">Người dịch:</label>
        <input type="text" list="list-translator" class="config-max-width margin-vertical" id="translator-id">

        <datalist id="list-translator"></datalist>
        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <div>
        <div>
            <label for="publisher-id">Nhà phát hành:</label>
            <input type="text" list="list-Publisher" class="config-max-width margin-vertical"
                   id="publisher-id">
            <datalist id="list-Publisher"></datalist>
        </div>

        <div style="float: right; display:flex;">
            <button type="submit" formaction="/Publisher/Create" formtarget="_self"
                    style="float: right;">
                Thêm Mới Nhà Phát Hành
            </button>

            <button type="button" onclick="UpdatePublisherId()" class="diplay-none-when-create"
                    style="display:none; margin-left:20px;">
                Cập nhật
            </button>
        </div>
        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <div>
        <label for="publishing-company-id">Nhà xuất bản:</label>
        <input type="text" list="list-publishing-company" class="config-max-width margin-vertical" id="publishing-company-id">

        <datalist id="list-publishing-company"></datalist>
        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <div>
        <label for="publishing-time">Năm xuất bản:</label>
        <input type="number" list="list-publishing-time" class="config-max-width margin-vertical" id="publishing-time">
        <datalist id="list-publishing-time"></datalist>
        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <div>
        <label for="page-number">Số trang:</label>
        <input type="number" class="config-max-width margin-vertical" id="page-number">
        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <div>
        <label for="product-long">Dài(mm):</label>
        <input type="number" class="config-max-width margin-vertical" id="product-long">

        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <div>
        <label for="product-wide">Rộng(mm):</label>
        <input type="number" class="config-max-width margin-vertical" id="product-wide">

        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <div>
        <label for="product-high">Cao(mm):</label>
        <input type="number" class="config-max-width margin-vertical" id="product-high">
        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <div>
        <label for="product-weight">Nặng(g):</label>
        <input type="number" class="config-max-width margin-vertical" id="product-weight">
        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <div>
        <label for="min-age">Tuổi nhỏ nhất(tháng):</label>
        <input type="number" class="config-max-width margin-vertical" id="min-age">

        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <div>
        <label for="max-age">Tuổi lớn nhất(tháng):</label>
        <input type="number" class="config-max-width margin-vertical" id="max-age">
        @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
    </div>

    <label for="position-in-warehouse">Vị trí lưu kho:</label><br>
    <input class="config-max-width margin-vertical" type="text" id="position-in-warehouse" value="">
    @Html.Partial("~/Views/Shared/RowsDistance.cshtml")

    <label for="republish">Tái bản lần thứ:</label><br>
    <input class="config-max-width margin-vertical" type="number" id="republish" value="">
    @Html.Partial("~/Views/Shared/RowsDistance.cshtml")

    <label for="product-status">Trạng thái:</label><br>
    <select class="config-max-width margin-vertical" id="product-status">
        <option value="0">Đang kinh doanh</option>
        <option value="1">Nhà phát hành tạm thời hết hàng</option>
        <option value="2">Ngừng kinh doanh</option>
    </select>
    @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
</div>
