
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css">
    <style>
        .fkagvoa08fv {
            background-color: lightgrey;
            margin:20px 0px 20px 20px;
            padding:10px 5px 5px 5px;
            border-radius: 2px;
        }
    </style>
</head>
<body onload="GetCombo()">
    <div id="biggestContainer">
        <div id="result-find-id">
            <div>
                <div>
                    <label for="combo-code">Mã Combo:</label>
                    <input class="config-max-width margin-vertical" id="combo-code" title="Mã combo thêm mới. Mã combo mới cần chưa tồn tại">
                </div>
                <div>
                    <label for="combo-name">Tên Combo:</label>
                    <input type="text" class="config-max-width margin-vertical"
                           id="combo-name"
                           title="Tên combo mới cần chưa tồn tại">
                </div>
                <div>
                    <table id="product-table" style="display:none;">
                        <tr>
                            <th style="display:none">Id</th>
                            <th>STT</th>
                            <th>Ảnh</th>
                            <th>Tên</th>
                            <th>Giá Bìa</th>
                            <th>Số Lượng</th>
                        </tr>
                    </table>
                </div>
                <div class="fkagvoa08fv">
                    <div style="padding:10px 0px 10px 0px;"> Thông tin chung của các sản phẩm thuộc combo. Để đơn giản ta lấy thông tin của 1 sản phẩm trong combo</div>
                    @Html.Partial("~/Views/Shared/ProductInputCommon.cshtml")
                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonInfor()"
                            title="Cập nhật thông tin chung cho các sản phẩm thuộc combo. Giá bìa nhạy cảm, nếu các sản phẩm đang không có giá bìa bằng nhau
                            sẽ không cập nhật">
                        Cập Nhật Thông Tin Chung
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonHardCover()"
                            title="Cập nhật chỉ thông tin Bìa chung">
                        Cập Nhật Bìa Chung
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonAge()"
                            title="Cập nhật chỉ thông tin tuổi chung">
                        Cập Nhật Tuổi Chung
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonLanguage()"
                            title="Cập nhật chỉ thông tin tuổi chung">
                        Cập Nhật Ngôn Ngữ Chung
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonDimension()"
                            title="Cập nhật chỉ kích thước dài, rộng, cao, nặng chung">
                        Cập Nhật Dài, Rông, Cao, Nặng Chung
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonCategory()"
                            title="Cập nhật thể loại">
                        Cập Nhật Thể Loại
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonPageNumber()"
                            title="Cập nhật số trang chung">
                        Cập Nhật Số Trang
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonPublishingTime()"
                            title="Cập nhật năm xuất bản chung">
                        Cập Nhật Năm Xuất Bản
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonBookCoverPrice()"
                            title="Cập nhật giá bìa chung">
                        Cập Nhật Giá Bìa Chung
                    </button>
                </div>
            </div>
            <div style="margin-bottom: 10px;">
                @Html.Partial("~/Views/Shared/ECommerceType.cshtml")

                <button type="button" style="margin-left: 30px;"
                        title="Tạo sản phẩm riêng lẻ, không cha và chưa đăng bán trên sàn thương mại điện tử."
                        onclick="CreateProductOfComboOnECommerce()">
                    Tạo Sản Phẩm Trên Sàn TMDT
                </button>
                @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
            </div>
            <br />
            <div id="button_group_id">
                <button type="button" style="margin-right:20px;" onclick="UpdateCombo()"
                        title="Cập nhật tên combo, không cập nhật thông tin chung cho các sản phẩm thuộc combo">
                    Cập Nhật
                </button>
                <button type="button" style="margin-right:20px;" onclick="DeleteCombo()">Xóa</button>
                <button type="button" onclick="MappingOfCombo()" title="Danh sách sản phẩm trên sàn TMDT mapping với combo">Mapping</button>
            </div>
        </div>
            @Html.Partial("~/Views/Shared/DoesntFindId.cshtml")
        </div>

    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.product.upload.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
    <script>
        GetSomeData();

        let combo = null;
        document.getElementById("adjxn90snkx").remove();

        // Chọn Tất cả
        document.getElementById("all-e-ecommonerce-type").checked = true;

        function ShowProductTable(list) {
            let length = list.length;
            if (length == 0)
                return;
            let table = document.getElementById("product-table");
            table.style.display = "initial";
            for (let i = 0; i < length; i++) {
                let pro = list[i];
                let row = table.insertRow(-1);
                // Insert new cells (<td> elements)
                let cell1 = row.insertCell(0);
                let cell2 = row.insertCell(1);
                let cell3 = row.insertCell(2);
                let cell4 = row.insertCell(3);
                let cell5 = row.insertCell(4);
                let cell6 = row.insertCell(5);

                // Id
                cell1.innerHTML = pro.id;
                cell1.style.display = "none";

                // STT
                cell2.innerHTML = i + 1;

                // Image
                let img = document.createElement("img");
                if (pro.imageSrc.length > 0) {
                    img.setAttribute("src", Get320VersionOfImageSrc(pro.imageSrc[0]));
                } else {
                    img.setAttribute("src", srcNoImageThumbnail);
                }
                img.height = thumbnailHeight;
                img.width = thumbnailWidth;
                img.className = "go-to-detail-item";
                img.title = "Xem sản phẩm";
                img.onclick = function () {
                    window.open("/Product/UpdateDelete?id=" + pro.id);
                };
                cell3.append(img);

                // Tên
                let pName = document.createElement("p");
                //pName.className = "go-to-detail-product";
                pName.innerHTML = pro.name;

                UpdateProductNameStyle(pName, pro.status, pro.quantity);
                cell4.append(pName);

                // Giá bìa
                cell5.innerHTML = ConvertMoneyToText(pro.bookCoverPrice);

                // Số lượng tồn kho
                cell6.innerHTML = pro.quantity;
            }
        }

        async function GetCombo() {
            const searchParams = new URLSearchParams();
            searchParams.append("id", GetValueFromUrlName("id"));
            let query = "/Combo/GetCombo";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();
            if (responseDB.responseText == "null") {
                ShowDoesntFindId();
                return;
            }
            else {
                combo = JSON.parse(responseDB.responseText);
                document.getElementById("combo-name").value = combo.name;
                document.getElementById("combo-code").value = combo.code;

                ShowProductTable(combo.products);

                if (combo.products.length > 0) {
                    SetProductCommonInfoWithCombo(combo.products[0]);
                }
            }
        }

        async function UpdateCombo() {
            let name = document.getElementById("combo-name").value.trim();
            if (CheckIsEmptyOrSpacesAndShowResult(name, "Tên Combo không hợp lệ.")) {
                document.getElementById("combo-name").focus();
                return;
            }

            let code = document.getElementById("combo-code").value.trim();

            const searchParams = new URLSearchParams();
            searchParams.append("id", GetValueFromUrlName("id"));
            searchParams.append("name", CapitalizeWords(name));
            searchParams.append("code", code);
            let query = "/Combo/UpdateCombo";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Update thành công.", "Có lỗi xảy ra.");
        }

        async function DeleteCombo() {
            if (combo.products.length > 0) {
                CreateMustClickOkModal("Bạn không thể xóa vì có sản phẩm thuộc combo này.", null);
                return;
            }

            let text = "Nếu còn sản phẩm thuộc combo này bạn sẽ không thể xóa dù thông báo đã xóa thành công. Bạn chắc chắn muốn XÓA?";
            if (confirm(text) == false)
                return;

            const searchParams = new URLSearchParams();
            searchParams.append("id", GetValueFromUrlName("id"));
            let query = "/Combo/DeleteCombo";
            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Xóa thành công.", "Có lỗi xảy ra.");
        }

        function MappingOfCombo() {
            window.open("/Combo/MappingOfCombo?id=" + GetValueFromUrlName("id"));
        }

        async function UpdateCommonInfor() {
            const searchParams = new URLSearchParams();
            searchParams.append("comboId", GetValueFromUrlName("id"));
            if (AddUpdateWithCommonParameters(searchParams) === false) {
                return false;
            }

            let query = "/Product/UpdateCommonInfoWithCombo";

            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Update thành công.", "Có lỗi xảy ra.");
        }

        async function UpdateCommonHardCover() {
            const searchParams = new URLSearchParams();
            searchParams.append("comboId", GetValueFromUrlName("id"));
            let hardCover = document.getElementById("hard-cover").value;
            searchParams.append("hardCover", hardCover);

            let query = "/Product/UpdateCommonHardCoverWithCombo";

            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Update thành công.", "Có lỗi xảy ra.");
        }

        async function UpdateCommonAge() {
            const searchParams = new URLSearchParams();
            searchParams.append("comboId", GetValueFromUrlName("id"));
            let minAge = GetValueInputById("min-age", -1);
            searchParams.append("minAge", minAge);

            let maxAge = GetValueInputById("max-age", -1);
            searchParams.append("maxAge", maxAge);

            let query = "/Product/UpdateCommonAgeWithCombo";

            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Update thành công.", "Có lỗi xảy ra.");
        }

        async function UpdateCommonLanguage() {
            const searchParams = new URLSearchParams();
            searchParams.append("comboId", GetValueFromUrlName("id"));
            searchParams.append("language", document.getElementById("book-language-id").value);

            let query = "/Product/UpdateCommonLanguageWithCombo";

            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Update thành công.", "Có lỗi xảy ra.");
        }

        async function UpdateCommonDimension() {
            const searchParams = new URLSearchParams();
            searchParams.append("comboId", GetValueFromUrlName("id"));

            let productLong = GetValueInputById("product-long", 0);
            searchParams.append("productLong", productLong);

            let productWide = GetValueInputById("product-wide", 0);
            searchParams.append("productWide", productWide);

            let productHigh = GetValueInputById("product-high", 0);
            searchParams.append("productHigh", productHigh);

            let productWeight = GetValueInputById("product-weight", 0);
            searchParams.append("productWeight", productWeight);

            let query = "/Product/UpdateCommonDimensionWithCombo";

            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Update thành công.", "Có lỗi xảy ra.");
        }

        async function UpdateCommonCategory() {
            const searchParams = new URLSearchParams();
            searchParams.append("comboId", GetValueFromUrlName("id"));

            let categoryName = document.getElementById("category-id").value;
            let categoryId = GetDataIdFromCategoryDatalist(categoryName);
            if (categoryId == null) {
                CreateMustClickOkModal("Thể loại chưa chính xác.");
                document.getElementById("category-id").focus();
                return;
            }
            else {
                searchParams.append("categoryId", categoryId);
            }

            let query = "/Product/UpdateCommonCategoryWithCombo";

            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Update thành công.", "Có lỗi xảy ra.");
        }

        async function UpdateCommonPageNumber() {
            const searchParams = new URLSearchParams();
            searchParams.append("comboId", GetValueFromUrlName("id"));

            let pageNumber = GetValueInputById("page-number", 0);
            searchParams.append("pageNumber", pageNumber);
            if (pageNumber == 0) {
                CreateMustClickOkModal("Số trang chưa chính xác.");
                document.getElementById("page-number").focus();
                return;
            }

            let query = "/Product/UpdateCommonPageNumberWithCombo";

            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Update thành công.", "Có lỗi xảy ra.");
        }

        async function UpdateCommonPublishingTime() {
            const searchParams = new URLSearchParams();
            searchParams.append("comboId", GetValueFromUrlName("id"));

            let publishingTime = GetValueInputById("publishing-time", 0);
            if (publishingTime == 0) {
                CreateMustClickOkModal("Năm xuất bản chưa chính xác.");
                document.getElementById("publishing-time").focus();
                return;
            }
            searchParams.append("publishingTime", publishingTime);

            let query = "/Product/UpdateCommonPublishingTimeWithCombo";

            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Update thành công.", "Có lỗi xảy ra.");
        }

        async function UpdateCommonBookCoverPrice() {
            const searchParams = new URLSearchParams();
            searchParams.append("comboId", GetValueFromUrlName("id"));

            let bookCoverPrice = GetValueInputById("book-cover-price", 0);
            if (bookCoverPrice == 0) {
                CreateMustClickOkModal("Giá bìa chưa chính xác.");
                document.getElementById("book-cover-price").focus();
                return;
            }
            searchParams.append("bookCoverPrice", bookCoverPrice);

            let query = "/Product/UpdateCommonBookCoverPriceWithCombo";

            ShowCircleLoader();
            let responseDB = await RequestHttpPostPromise(searchParams, query);
            RemoveCircleLoader();

            CheckStatusResponseAndShowPrompt(responseDB.responseText, "Update thành công.", "Có lỗi xảy ra.");
        }

        async function CreateProductOfComboOnECommerce() {
            // Lấy id
            let id = GetValueFromUrlName("id");
            const searchParams = new URLSearchParams();
            searchParams.append("comboId", id);
            searchParams.append("eType", GetECommerceType());

            let url = "/Product/CreateProductOfComboOnECommerce";

            try {
                // Cập nhật vào db
                ShowCircleLoader();
                let responseDB = await RequestHttpPostPromise(searchParams, url);
                RemoveCircleLoader();
                CheckStatusResponseAndShowPrompt(responseDB.responseText, "Thành công.", "Thất bại.");
            }
            catch (error) {
                CreateMustClickOkModal("Cập nhật lỗi.", null);
                return;
            }
        }
    </script>
</body>
</html>
