
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
    <link rel="stylesheet" href="~/Content/web.play.with.me.table.show.data.css?v=20260610">
    <link rel="stylesheet" href="~/Content/Combo/UpdateDelete.css?v=20260610">
</head>
<body onload="GetCombo()">
    <div id="biggestContainer">
        <div id="result-find-id">
            <div>
                <div>
                    <label for="combo-code">Mã Combo:</label>
                    <input class="config-max-width margin-vertical" id="combo-code" title="Mã combo thêm mới. Mã combo mới cần chưa tồn tại">
                </div>
                <div>
                    <label for="combo-name">Tên Combo:</label>
                    <input type="text" class="config-max-width margin-vertical"
                           id="combo-name"
                           title="Tên combo mới cần chưa tồn tại">
                </div>
                <div>
                    <table id="product-table" style="display:none;">
                        <tr>
                            <th style="display:none">Id</th>
                            <th>STT</th>
                            <th>Ảnh</th>
                            <th>Tên</th>
                            <th>Giá Bìa</th>
                            <th>Số Lượng</th>
                        </tr>
                    </table>
                </div>
                <div class="fkagvoa08fv">
                    <div style="padding:10px 0px 10px 0px;"> Thông tin chung của các sản phẩm thuộc combo. Để đơn giản ta lấy thông tin của 1 sản phẩm trong combo</div>
                    @Html.Partial("~/Views/Shared/ProductInputCommon.cshtml")
                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonInfor()"
                            title="Cập nhật thông tin chung cho các sản phẩm thuộc combo. Giá bìa nhạy cảm, nếu các sản phẩm đang không có giá bìa bằng nhau
                            sẽ không cập nhật">
                        Cập Nhật Thông Tin Chung
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonHardCover()"
                            title="Cập nhật chỉ thông tin Bìa chung">
                        Cập Nhật Bìa Chung
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonAge()"
                            title="Cập nhật chỉ thông tin tuổi chung">
                        Cập Nhật Tuổi Chung
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonLanguage()"
                            title="Cập nhật chỉ thông tin tuổi chung">
                        Cập Nhật Ngôn Ngữ Chung
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonDimension()"
                            title="Cập nhật chỉ kích thước dài, rộng, cao, nặng chung">
                        Cập Nhật Dài, Rông, Cao, Nặng Chung
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonCategory()"
                            title="Cập nhật thể loại">
                        Cập Nhật Thể Loại
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonPageNumber()"
                            title="Cập nhật số trang chung">
                        Cập Nhật Số Trang
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonPublishingTime()"
                            title="Cập nhật năm xuất bản chung">
                        Cập Nhật Năm Xuất Bản
                    </button>

                    <button type="button" style="margin-right:20px;" onclick="UpdateCommonBookCoverPrice()"
                            title="Cập nhật giá bìa chung">
                        Cập Nhật Giá Bìa Chung
                    </button>
                </div>
            </div>
            <div style="margin-bottom: 10px;">
                @Html.Partial("~/Views/Shared/ECommerceType.cshtml")

                <button type="button" style="margin-left: 30px;"
                        title="Tạo sản phẩm riêng lẻ, không cha và chưa đăng bán trên sàn thương mại điện tử."
                        onclick="CreateProductOfComboOnECommerce()">
                    Tạo Sản Phẩm Trên Sàn TMDT
                </button>
                @Html.Partial("~/Views/Shared/RowsDistance.cshtml")
            </div>
            <br />
            <div id="button_group_id">
                <button type="button" style="margin-right:20px;" onclick="UpdateCombo()"
                        title="Cập nhật tên combo, không cập nhật thông tin chung cho các sản phẩm thuộc combo">
                    Cập Nhật
                </button>
                <button type="button" style="margin-right:20px;" onclick="DeleteCombo()">Xóa</button>
                <button type="button" onclick="MappingOfCombo()" title="Danh sách sản phẩm trên sàn TMDT mapping với combo">Mapping</button>
            </div>
        </div>
            @Html.Partial("~/Views/Shared/DoesntFindId.cshtml")
        </div>

    <script src="~/Scripts/web.play.with.me.update.width.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.common.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.product.upload.js?v=20260610"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js?v=20260610"></script>
    <script src="~/Scripts/Combo/UpdateDelete.js?v=20260610"></script>
</body>
</html>
