<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
</head>
<body>
    <div id="biggestContainer">
        <div style=" width: 100%; background-color: white; ">
            <h3 style="margin-bottom:2px;">Chính sách xử lý khiếu nại</h3>
            <br>
            <p>
                - Tất cả mọi trường hợp bảo hành, quý khách có thể liên hệ với chúng tôi để làm thủ tục bảo hành. Các đơn hàng bị ảnh hưởng bởi yếu tố vận chuyển, chúng tôi sẽ tiến hành đổi trả và làm việc với đối tác vận chuyển để cải thiện tốt hơn trải nghiệm của khách hàng.&nbsp;<br>
            </p>
            <p>- Thời gian giải quyết khiếu nại trong thời hạn tối đa là 03 (ba) ngày làm việc kể từ khi nhận được khiếu nại của của khách hàng.&nbsp;</p>

            <p>Trong trường hợp bất khả kháng 2 bên sẽ tự thương lượng.</p>

            <p>Thông tin liên hệ khiếu nại:</p>

            <p>
                Hotline/Zalo: @ViewData["hotline"]<br>
                Địa chỉ: @ViewData["postAddress"]<br>
                Email: @ViewData["emailAddress"]
            </p>

        </div>
        @Html.Partial("~/Views/Shared/biggestContainer_Bottom.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
</body>
</html>
