<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
</head>
<body>
    <div id="biggestContainer">
        <div style=" width: 100%; background-color: white; ">
            <h3 style="margin-bottom:2px;">Chính sách bảo mật thông tin khách hàng</h3>
            <br />
            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><strong><span style="font-size:10.5pt"><span style="color:#384158">1. Giới thiệu</span></span></strong></span></span></p>

            <p style="text-align:justify">
                <span style="font-family:Arial,Helvetica,sans-serif">
                    <span style="font-size:12pt">
                        <span style="font-size:10.5pt"><span style="color:#384158">Website&nbsp;</span></span><a href=@ViewData["httpsWebAddress"] style="color:blue; text-decoration:underline"><span style="font-size:10.5pt"><span style="color:#216fdb">@ViewData["webAddress"]</span></span></a><span style="font-size:10.5pt">
                            <span style="color:#384158">
                                &nbsp;được vận hành và quản lý bởi hộ kinh doanh @ViewData["ceoName"] có giấy chứng nhận đăng ký kinh doanh số&nbsp;@ViewData["businessId"]&nbsp;do UBND Quận Bắc Từ Liêm cấp ngày 21/08/2020<br>
                                &nbsp;&nbsp; &nbsp;
                            </span>
                        </span><br>
                        <strong><span style="font-size:10.5pt"><span style="color:#384158">2. Mục đích và phạm vi thu thập thông tin</span></span></strong>
                    </span>
                </span>
            </p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">- Mục đích: Hỗ trợ khách hàng khi mua sản phẩm&nbsp;</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">- Thông tin cá nhân tiệm sách thu thập khi khách hàng đăng kí dịch vụ bao gồm:</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">+ Họ và tên</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">+ Địa chỉ</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">+ Số điện thoại</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">+ Email&nbsp;</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><strong><span style="font-size:10.5pt"><span style="color:#384158">3. Phạm vi sử dụng thông tin</span></span></strong></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">Thông tin thu thập được chúng tôi sử dụng trong phạm vi như sau:&nbsp; &nbsp;&nbsp;</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">- Hỗ trợ khách hàng;</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">- Cung cấp thông tin liên quan đến dịch vụ;</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">- Xử lý đơn đặt hàng và cung cấp dịch vụ và thông tin qua trang web của chúng tôi theo yêu cầu của bạn;</span></span></span></span></p>

            <p style="text-align:justify">
                <span style="font-family:Arial,Helvetica,sans-serif">
                    <span style="font-size:12pt">
                        <span style="font-size:10.5pt">
                            <span style="color:#384158">
                                - Ngoài ra, chúng tôi sử dụng thông tin cá nhân mà bạn cung cấp để hỗ trợ quản lý tài khoản khách hàng, xác nhận và thực hiện giao dịch tài chính liên quan đến các khoản thanh toán trực tuyến của bạn.<br>
                                &nbsp;&nbsp;
                            </span>
                        </span><br>
                        <strong><span style="font-size:10.5pt"><span style="color:#384158">4. Thời gian lưu trữ thông tin</span></span></strong>
                    </span>
                </span>
            </p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">- Thông tin cá nhân của các bạn cung cấp cho chúng tôi sẽ được lưu trữ cho tới khi các bạn yêu cầu chúng tôi xóa bỏ khỏi cơ sở dữ liệu của mình</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><strong><span style="font-size:10.5pt"><span style="color:#384158">5. Địa chỉ của đơn vị thu thập thông tin cá nhân</span></span></strong></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">Hộ kinh doanh @ViewData["ceoName"]</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">- Địa chỉ: @ViewData["postAddress"]</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">- Số điện thoại: @ViewData["hotline"]</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">- Email: <span style="background-color:white">@ViewData["emailAddress"]</span></span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><strong><span style="font-size:10.5pt"><span style="color:#384158">6. Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình</span></span></strong></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">- Để chỉnh sửa thông tin cá nhân đã cung cấp cho chúng tôi, bạn có thể sửa trực tiếp bằng tài khoản mà bạn đã đăng ký với chúng tôi trên trang web @ViewData["webAddress"] hoặc liên hệ trực tiếp tới số hotline: @ViewData["hotline"]&nbsp;để được hỗ trợ.</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><strong><span style="font-size:10.5pt"><span style="color:#384158">7. Những người hoặc tổ chức có thể được tiếp cận với thông tin:</span></span></strong></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">Hoạt động kinh doanh của @ViewData["webAddress"] không bao gồm việc bán các thông tin của khách hàng cho bên thứ ba. Website @ViewData["webAddress"] chỉ cung cấp thông tin khách hàng cho các bên được liệt kê dưới đây nhằm đảm bảo quyền lợi của khách hàng theo những cam kết bảo mật của @ViewData["webAddress"]:</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">- Các đối tác có ký Hợp đồng để thực hiện một phần dịch vụ cho @ViewData["webAddress"] (đối tác kỹ thuật, đối tác cung cấp dịch vụ vận chuyển giao nhận...). Các đối tác này sẽ nhận được những thông tin theo thỏa thuận hợp đồng (có thể 1 phần hoặc toàn bộ thông tin tùy theo điều khoản của Hợp đồng) để tiến hành hỗ trợ người dùng sử dụng dịch vụ do chúng tôi cung cấp trên website.</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><span style="font-size:10.5pt"><span style="color:#384158">- Cơ quan nhà nước khi có yêu cầu: @ViewData["webAddress"] sẽ cung cấp thông tin của khách hàng để phục vụ quá trình điều tra của các cơ quan đó.</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:12pt"><strong><span style="font-size:10.5pt"><span style="color:#384158">8. Cơ chế tiếp nhận và giải quyết khiếu nại của người tiêu dùng liên quan đến việc thông tin cá nhân bị sử dụng sai mục đích hoặc phạm vi đã thông báo.</span></span></strong></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="font-size:10.5pt"><span style="color:#384158">Khi người tiêu dùng phát hiện thông tin cá nhân của mình trên @ViewData["webAddress"] bị sử dụng sai mục đích hoặc ngoài phạm vi sử dụng thông tin, người tiêu dùng có thể gửi khiếu nại đến chúng tôi theo các cách thức sau:</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="font-size:10.5pt"><span style="color:#384158">- Gọi điện thoại đến số: @ViewData["hotline"];</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="font-size:10.5pt"><span style="color:#384158">- Gửi email khiếu nại đến: </span><span style="background-color:white"><span style="color:#384158">@ViewData["emailAddress"]</span></span><span style="color:#384158">;</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="font-size:10.5pt"><span style="color:#384158">- Gửi văn bản khiếu nại theo đường bưu điện đến hoặc gửi trực tiếp tại địa chỉ: @ViewData["postAddress"]</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="font-size:10.5pt"><span style="color:#384158">Thời hạn để @ViewData["webAddress"] xử lý phản ánh liên quan đến thông tin cá nhân khách hàng là 03 (ba) ngày làm việc, kể từ ngày tiếp nhận được khiếu nại của khách hàng.</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="font-size:10.5pt"><span style="color:#384158">Trong mọi trường hợp, @ViewData["webAddress"] đề cao biện pháp thương lượng, hòa giải với khách hàng để thống nhất và đưa ra biện pháp giải quyết, xử lý khiếu nại.</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="font-size:10.5pt"><span style="color:#384158">Trong trường hợp hai bên không đạt được sự thỏa thuận như mong muốn dẫn đến thương lượng, hòa giải không thành, một trong hai bên có quyền đưa vụ việc ra tòa án nhân dân có thẩm quyền để giải quyết theo quy định của pháp luật.</span></span></span></span></p><p></p>
        </div>

        @Html.Partial("~/Views/Shared/biggestContainer_Bottom.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
</body>
</html>
