<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
</head>
<body>
    <div id="biggestContainer">
        <div style=" width: 100%; background-color: white; ">
            <h3 style="margin-bottom:2px;">Thông tin liên hệ Tiệm sách và đồ chơi Voi bé nhỏ</h3>


            <p style="color:black"></p><p><span style="font-size:14px">Cảm ơn các bố mẹ đã ghé thăm Tiệm sách & Đồ chơi Voi bé nhỏ!</span></p>

            <p><span style="font-size:14px"> Mong muốn của Tiệm sách là đem lại thật nhiều niềm vui, kiến thức, tình yêu với sách cho các bạn nhỏ và lan tỏa thói quen đọc sách tới mọi người. Buổi tối, sau một ngày làm việc, học tập hay khi có thời gian rảnh rỗi cả gia đình cùng ngồi nghỉ ngơi và đọc sách. Bố mẹ đọc sách cho con là một cách để gắn kết yêu thương. Cả nhà mình cùng nhau đọc sách mỗi ngày bố mẹ nhé!</span></p>

            <p><span style="font-size:14px">Gửi muôn vàn tri thức</span></p>
            <p><span style="font-size:14px">Gửi muôn vàn yêu thương</span></p>
            <p><span style="font-size:14px">Cả nhà gắn kết hơn</span></p>
            <p><span style="font-size:14px">Cùng nhau mình đọc sách</span></p>
            @*<br />
            <p><span style="font-size:14px">Liên hệ:</span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><span style="color:#384158">- Địa chỉ: @ViewData["postAddress"]</span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><span style="color:#384158">- Số điện thoại: @ViewData["hotline"]</span></span></span></p>

            <p style="text-align:justify"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px"><span style="color:#384158">- Email: <span style="background-color:white">@ViewData["emailAddress"]</span></span></span></span></p>*@

        </div>
        @Html.Partial("~/Views/Shared/biggestContainer_Bottom.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
</body>
</html>
