<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Head.cshtml")
</head>
<body>
    <div id="biggestContainer">
        <div style=" width: 100%; background-color: white; ">
            <h3 style="margin-bottom:2px;">Chính sách đổi trả, hoàn tiền</h3>
            <br />
            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="color:#384158">1. Điều kiện đổi trả hàng hoặc hoàn tiền 100%:</span></strong></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">- Sản phẩm phát hiện bị lỗi của nhà sản xuất khi nhận hàng.</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">- Sản phẩm không giống với sản phẩm mà khách hàng đã đặt hàng trên website của chúng tôi.</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="color:#384158">2. Các trường hợp không áp dụng đổi trả</span></strong></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">- Sản phẩm quà tặng, các sản phẩm trong chương trình giảm giá đặc biệt.</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">- Sản phẩm đã quá hạn đổi trả (02 ngày).</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">- Sản phẩm đã bị bóc vỏ, khui hộp, mất nhãn mác</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">- Bao bì, vỏ hộp sản phẩm bị hư hỏng, trầy xước do lỗi từ phía khách hàng.</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">- Sản phẩm không phải mua từ website @ViewData["webAddress"] hoặc không mua trực tiếp tại địa chỉ của hàng của chúng tôi.</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="color:#384158">3. Quy định về đổi trả sản phẩm</span></strong></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="color:#384158">Thời gian gửi chuyển trả sản phẩm: </span></strong><span style="color:#384158">trong vòng 02 ngày tính từ ngày nhận hàng.</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="color:#384158">Cách thức đổi trả:</span></strong><span style="color:#384158"> Khách hàng cần phải thông báo cho nhân viên của @ViewData["webAddress"] (qua hotline/Zalo: @ViewData["hotline"] về lý do đổi trả và địa chỉ, số điện thoại liên lạc chính xác để chúng tôi có thể thực hiện quy trình đổi trả sản phẩm một cách nhanh chóng nhất theo yêu cầu của khách hàng. Trong một số trường hợp, chúng tôi sẽ yêu cầu khách hàng cung cấp minh chứng (ảnh chụp, video khui hàng) để có căn cứ xử lý yêu cầu đổi/trả hàng hóa của khách hàng.</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="color:#384158">Địa điểm đổi trả sản phẩm:</span></strong> </span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">- Chúng tôi khuyến khích khách hàng trực tiếp mang sản phẩm đến cửa hàng (địa chỉ: @ViewData["postAddress"]) để chúng tôi có thể check lại sản phẩm và khách có thể xem cũng như lựa chọn đổi sản phẩm đúng theo ý của khách hàng. </span></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">- Với các khách tỉnh, khách hàng có thể chuyển hàng qua bưu điện &amp; liên hệ với @ViewData["webAddress"] về sản phẩm đổi, mã bưu điện,… để chúng tôi có thể xử lý và gửi hàng lại sớm nhất khi nhận được sản phẩm (khách hàng vui lòng chi trả chi phí để vận chuyển hàng về cho @ViewData["webAddress"])</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Trong trường hợp khách hàng hàng có ý kiến đóng góp/khiếu nại liên quan đến chất lượng sản phẩm, khách hàng hàng vui lòng liên hệ đường dây chăm sóc khách hàng của chúng tôi, hotline/Zalo @ViewData["hotline"].</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="color:#384158">4. Phương thức hoàn tiền</span></strong></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Trường hợp khách hàng có yêu cầu hoàn tiền và yêu cầu đó là hợp lệ, trong vòng 48 giờ kể từ thời điểm chúng tôi nhận được gói hàng bị hoàn trả, nhân viên chăm sóc khách hàng của @ViewData["webAddress"] sẽ liên hệ với khách hàng để xác nhận thông tin thanh toán phục vụ cho việc hoàn lại tiền. </span></span></span></p>

            <p style="text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#384158">Việc hoàn tiền sẽ được chúng tôi tiến hành bằng phương thức chuyển khoản vào tài khoản ngân hàng của khách hàng.</span></span></span></p>

        </div>
        @Html.Partial("~/Views/Shared/biggestContainer_Bottom.cshtml")
    </div>
    <script src="~/Scripts/web.play.with.me.update.width.js"></script>
    <script src="~/Scripts/web.play.with.me.common.js"></script>
    <script src="~/Scripts/web.play.with.me.action.common.js"></script>
</body>
</html>
