@*@model MVCPlayWithMe.Models.Item
    <div class="product-for-selector-container" style="width:200px; border-radius:10px; padding:5px;">
        <a class="product-item" href="#">
            <div class="image-wrapper">
                <img class="card-img-top" src="@(Model.cheapestModel.imageSrc)" alt="Card image">
            </div>
            <div class="product-infor">
                <div class="product-name">
                    <h3 class="product-name-h3"style="color:black">@Model.name</h3>
                </div>
                <div class="rating-quantity-sold">
                    <p style="color:black; font-size:x-small">Đã bán @Model.sumQuantitySold bộ</p>
                </div>
                <div class="price-sell price-original price-discount-percent">
                    <span class="price-sell-detail" style="color:red; font-size:medium">
                        @Model.cheapestModel.priceIncludePromotion
                        <sup>₫</sup>
                    </span>
                    <span class="price-original-detail" style="color:gray; font-size:smaller; text-decoration:line-through"> @Model.cheapestModel.bookCoverPrice ₫</span>
                    <span class="price-discount-percent-detail" style="color:red; font-size:small">-@Model.cheapestModel.discount %</span>
                </div>
            </div>
        </a>
    </div>*@


@model MVCPlayWithMe.Models.Item
<div id="product-for-selector-sample" class="product-for-selector-container" style="width:200px; border-radius:10px; padding:5px; display:none">
    <a class="product-item" href="#">
        <div class="image-wrapper">
            <img class="card-img-top" alt="Card image">
        </div>
        <div class="product-infor">
            <div class="product-name">
                <h3 class="product-name-h3" style="color:black"></h3>
            </div>
            <div class="rating-quantity-sold">
                <p class="rating-quantity-sold-p" style="color:black; font-size:x-small"></p>
            </div>
            <div class="price-sell price-original price-discount-percent">
                <span class="price-sell-detail" style="color:red; font-size:medium">

                    <sup>₫</sup>
                </span>
                <span class="price-original-detail" style="color:gray; font-size:smaller; text-decoration:line-through"> ₫</span>
                <span class="price-discount-percent-detail" style="color:red; font-size:small"> %</span>
            </div>
        </div>
    </a>
</div>
